* {
  margin: 0;
  padding: 0;
}

*,
:before,
:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 61.25em) {
  html {
    font-size: 50%;
  }
}

body {
  color: #615551;
  min-height: calc(100vh - 8vw);
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Nunito Sans, sans-serif;
  font-weight: 400;
  line-height: 1.6;
}

.container-box {
  max-width: 120rem;
  min-height: 117rem;
  background-color: #fff;
  border-radius: 9px;
  grid-template:
    "head head" 10rem
    "list news" minmax(100rem, auto)
    / 1fr 2fr;
  margin: 4vw auto;
  display: grid;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem #61555133;
}

@media only screen and (max-width: 78.15em) {
  .container {
    max-width: 100%;
    border-radius: 0;
    margin: 0;
  }
}

.btn--small,
.btn--small:link,
.btn--small:visited,
.btn {
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  border: none;
  border-radius: 10rem;
  align-items: center;
  transition: all 0.2s;
  display: flex;
}

.btn--small:hover,
.btn:hover {
  transform: scale(1.05);
}

.btn--small:focus,
.btn:focus {
  outline: none;
}

.btn--small > :first-child,
.btn > :first-child {
  margin-right: 1rem;
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn svg {
  height: 2.25rem;
  width: 2.25rem;
  fill: currentColor;
}

.btn--small,
.btn--small:link,
.btn--small:visited {
  padding: 1.25rem 2.25rem;
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
}

.btn--small svg,
.btn--small:link svg,
.btn--small:visited svg {
  height: 1.75rem;
  width: 1.75rem;
  fill: currentColor;
}

.btn--inline {
  color: #f38e82;
  cursor: pointer;
  background-color: #f9f5f3;
  border: none;
  border-radius: 10rem;
  align-items: center;
  padding: 0.8rem 1.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 0.2s;
  display: flex;
}

.btn--inline svg {
  height: 1.6rem;
  width: 1.6rem;
  fill: currentColor;
  margin: 0 0.2rem;
}

.btn--inline span {
  margin: 0 0.4rem;
}

.btn--inline:hover {
  color: #f48982;
  background-color: #f2efee;
}

.btn--inline:focus {
  outline: none;
}

.btn--round {
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  border: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
  display: flex;
}

.btn--round:hover {
  transform: scale(1.07);
}

.btn--round:focus {
  outline: none;
}

.btn--round svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff;
}

/* Preview bookmark button - newly added */
.btn-round-preview {
  height: 2rem;
  width: 2rem;
}

.btn-round-preview svg {
  height: 1rem;
  width: 1rem;
  fill: #fff;
}

.btn--tiny {
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  background: none;
  border: none;
}

.btn--tiny svg {
  height: 100%;
  width: 100%;
  fill: #f38e82;
  transition: all 0.3s;
}

.btn--tiny:focus {
  outline: none;
}

.btn--tiny:hover svg {
  fill: #f48982;
  transform: translateY(-1px);
}

.btn--tiny:active svg {
  fill: #f48982;
  transform: translateY(0);
}

.btn--tiny:not(:last-child) {
  margin-right: 0.3rem;
}

.heading--2 {
  color: #f38e82;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.link:link,
.link:visited {
  color: #918581;
}

.spinner {
  text-align: center;
  margin: 5rem auto;
}

.spinner svg {
  height: 6rem;
  width: 6rem;
  fill: #f38e82;
  animation: rotate 2s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.message,
.error {
  max-width: 40rem;
  margin: 0 auto;
  padding: 5rem 4rem;
  display: flex;
}

.message svg,
.error svg {
  height: 3rem;
  width: 3rem;
  fill: #f38e82;
  transform: translateY(-0.3rem);
}

.message p,
.error p {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
}

.header {
  /* background-color: #f9f5f3; */
  background-image: linear-gradient(to bottom, #f9f5f3, #f8f2efb8);
  grid-area: head;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.header__logo {
  height: 7.6rem;
  margin-left: 5rem;
  display: block;
  transition: all 0.2s ease-in-out;
}

.header__logo:hover {
  transform: scale(1.02);
}

.search {
  background-color: #fff;
  border-radius: 10rem;
  align-items: center;
  padding-left: 3rem;
  transition: all 0.3s;
  display: flex;
}

.search:focus-within {
  transform: translateY(-2px);
  box-shadow: 0 0.7rem 3rem #61555114;
}

.search__field {
  color: inherit;
  width: 30rem;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.7rem;
}

.search__field:focus {
  outline: none;
}

.search__field::placeholder {
  color: #d3c7c3;
}

@media only screen and (max-width: 61.25em) {
  .search__field {
    width: auto;
  }

  .search__field::placeholder {
    color: #fff;
  }
}

.search__btn {
  font-family: inherit;
  font-weight: 600;
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;
}

.nav__list {
  height: 100%;
  list-style: none;
  display: flex;
}

.nav__item {
  position: relative;
}

.nav__btn {
  height: 100%;
  color: inherit;
  text-transform: uppercase;
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  padding: 0 1.5rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.3s;
  display: flex;
}

.nav__btn svg {
  height: 2.4rem;
  width: 2.4rem;
  fill: #f38e82;
  margin-right: 0.7rem;
  transform: translateY(-1px);
}

.nav__btn:focus {
  outline: none;
}

.nav__btn:hover {
  background-color: #f2efee;
}

.bookmarks {
  z-index: 10;
  width: 40rem;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  padding: 1rem 0;
  transition: all 0.5s 0.2s;
  position: absolute;
  right: -2.5rem;
  box-shadow: 0 0.8rem 5rem 2rem #6155511a;
}

.bookmarks__list {
  list-style: none;
}

.bookmarks__field {
  cursor: pointer;
  height: 100%;
  align-items: center;
  padding: 0 4rem;
  transition: all 0.3s;
  display: flex;
}

.bookmarks__field:hover {
  background-color: #f2efee;
}

.bookmarks:hover,
.nav__btn--bookmarks:hover + .bookmarks {
  visibility: visible;
  opacity: 1;
}

/* Sort Options */
.sort-active {
  font-weight: 700;
}

.preview__link:link,
.preview__link:visited {
  border-right: 1px solid #fff;
  align-items: center;
  padding: 1.5rem 3.25rem;
  text-decoration: none;
  transition: all 0.3s;
  display: flex;
}

.preview__link:hover {
  background-color: #f9f5f3;
  transform: translateY(-2px);
}

.preview__link--active {
  background-color: #f9f5f3;
}

.preview__fig {
  height: 7rem;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 10%;
  /* flex: 0 0 5.8rem; */
  /* margin-right: 2rem; */
  position: relative;
  overflow: hidden;
}

.preview__fig:before {
  content: "";
  height: 100%;
  width: 100%;
  opacity: 0.4;
  background-image: linear-gradient(to bottom right, #fbdb89, #f48982);
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.preview__fig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  display: block;
}

.preview__data {
  width: 100%;
  grid-template-columns: 1fr 2rem;
  align-items: center;
  row-gap: 0.1rem;
  display: grid;
}

.preview__title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #f38e82;
  /* text-transform: uppercase; */
  max-height: 6rem;
  text-overflow: ellipsis;
  /* max-width: 25rem; */
  /* white-space: nowrap; */
  grid-column: 1 / -1;
  font-size: 1.45rem;
  font-weight: 600;
  overflow: hidden;
}

.preview__publisher {
  color: #918581;
  text-transform: uppercase;
  font-size: 1.15rem;
  font-weight: 600;
}

/* ***NEWLY ADDED */
.preview-container {
  width: 100%;
}

.preview-pub-time {
  margin-bottom: 0;
}

.preview__user-generated {
  height: 2rem;
  width: 2rem;
  background-color: #eeeae8;
  border-radius: 10rem;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: 1.75rem;
  display: flex;
}

.preview__user-generated svg {
  height: 1.2rem;
  width: 1.2rem;
  fill: #f38e82;
}

/* Newly added */
/* Set bookmark display to none doesn't work (why?) */
.preview-bookmark-container {
  opacity: 0;
}

.search-results {
  flex-direction: column;
  padding: 3rem 0;
  display: flex;
  /* display: none; */
  /* transition: all 0.3s; */
}

.results {
  margin-bottom: 2rem;
  list-style: none;
  /* display: none; */
  /* transition: all 0.3s; */
  /* opacity: 1; */
}

/* NEW ADDED */
.results-options {
  padding-left: 5.25rem; /* 2rem + 3.25rem, check results css */
  padding-right: 3.25rem;
  font-size: 1.15rem;
  /* display: none; */
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;
}

.pagination:after {
  content: "";
  clear: both;
  display: table;
}

.pagination__btn--prev {
  float: left;
}

.pagination__btn--next {
  float: right;
}

.copyright {
  color: #918581;
  margin-top: 4rem;
  padding: 0 3.5rem;
  font-size: 1.2rem;
}

.copyright .personal-link:link,
.copyright .personal-link:visited {
  color: #918581;
}

.copyright .personal-link:hover,
.copyright .personal-link:active {
  color: #6a615e;
}

.mediastack-link:link,
.mediastack-link:visited {
  color: #918581;
}

.mediastack-link:hover,
.mediastack-link:active {
  color: #6a615e;
}

/*# sourceMappingURL=index.f7626f62.css.map */

/* ////////////////////////////// */
/* New Formats */
.news {
  /* background-color: #f9f5f3; */
  background-image: linear-gradient(to bottom, #f8f2efb8, #eee8e5b8);
  /* background-image: linear-gradient(to bottom, #f9f5f3, #eee8e5b8); */
  /* display: none; */
}

.news-img {
  max-width: 100%;
}

.news-source-btn:link,
.news-source-btn:visited {
  color: #fff;
}

.news-source-btn:hover,
.news-source-btn:active {
  color: #615551e5 !important;
  /* color: #fff !important; */
}
